.top {
    background: #fff;
    font-family: "Euclid Circular A", "Poppins";
}      

.bannerr {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../static/images/frontpage.png");
  background-size: inherit;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 70vh;
  width: 100%;
  transition: 0.1s linear;
}

.bannerr h2 {
  font-size: 48px;
  color: #f8f8f8;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 10px;
}

.bannerr button {
  border: 0;
  background: #ffffff;
  color: rgba(0, 0, 0, 0.87);
  padding: 10px 24px;
  border-radius: 30px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
}

.container {
  padding: 0 10%;
  background: #ffffff;
}

.container h2 {
  margin-top: 0;
  padding-top: 60px;
}

.container p:last-child {
  padding-bottom: 60px;
}
